-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('super_admin', 'gestor', 'colaborador');

-- CreateEnum
CREATE TYPE "EngajamentoType" AS ENUM ('acesso_consecutivo', 'completar_treinamento', 'interacao_feed', 'dar_feedback', 'responder_pesquisa', 'participar_evento', 'mixed');

-- CreateEnum
CREATE TYPE "PublicoAlvoType" AS ENUM ('todo_time', 'colaboradores_especificos', 'por_departamento');

-- CreateEnum
CREATE TYPE "ParticipantStatus" AS ENUM ('not_started', 'in_progress', 'completed', 'failed');

-- CreateEnum
CREATE TYPE "SurveyType" AS ENUM ('rapida', 'nps', 'clima', 'avaliacao_360', 'custom');

-- CreateEnum
CREATE TYPE "SurveyStatus" AS ENUM ('rascunho', 'ativa', 'encerrada', 'arquivada');

-- CreateEnum
CREATE TYPE "QuestionType" AS ENUM ('rating', 'text', 'nps', 'checkbox', 'radio', 'scale');

-- CreateEnum
CREATE TYPE "CourseCategory" AS ENUM ('lideranca', 'tecnologia', 'comunicacao', 'vendas', 'operacoes', 'produto', 'rh', 'financeiro', 'outros');

-- CreateEnum
CREATE TYPE "CourseLevel" AS ENUM ('iniciante', 'intermediario', 'avancado');

-- CreateEnum
CREATE TYPE "LessonType" AS ENUM ('video', 'reading', 'quiz', 'practical');

-- CreateEnum
CREATE TYPE "EvidenceType" AS ENUM ('foto', 'video', 'documento', 'link', 'checkin');

-- CreateEnum
CREATE TYPE "FeedbackType" AS ENUM ('reconhecimento', 'sugestao', 'critica_construtiva', 'agradecimento', 'desenvolvimento');

-- CreateEnum
CREATE TYPE "FeedbackStatus" AS ENUM ('pendente', 'aprovado', 'rejeitado');

-- CreateEnum
CREATE TYPE "FeedbackSentiment" AS ENUM ('POSITIVE', 'NEGATIVE', 'NEUTRAL', 'CONSTRUCTIVE');

-- CreateEnum
CREATE TYPE "FeedbackRequestStatus" AS ENUM ('pending', 'fulfilled', 'declined');

-- CreateEnum
CREATE TYPE "MoodLevel" AS ENUM ('muito_ruim', 'ruim', 'neutro', 'bom', 'muito_bom');

-- CreateEnum
CREATE TYPE "MetaStatus" AS ENUM ('rascunho', 'ativa', 'inativa', 'concluida');

-- CreateEnum
CREATE TYPE "TipoMeta" AS ENUM ('engajamento', 'desenvolvimento', 'lideranca');

-- CreateEnum
CREATE TYPE "EscopoMeta" AS ENUM ('individual', 'time');

-- CreateEnum
CREATE TYPE "PeriodoMeta" AS ENUM ('semanal', 'mensal', 'trimestral');

-- CreateEnum
CREATE TYPE "CriterioAcao" AS ENUM ('registro_humor', 'publicacao_feed', 'curtida', 'comentario', 'envio_feedback', 'resposta_pesquisa', 'conclusao_treinamento', 'participacao_trilha', 'participacao_evento', 'interacao_recorrente');

-- CreateEnum
CREATE TYPE "ActionType" AS ENUM ('acessar_plataforma', 'completar_treinamento', 'interagir_feed', 'dar_feedback', 'responder_pesquisa', 'participar_evento', 'acessar_consecutivo', 'resgatar_recompensa', 'registrar_humor', 'criar_post', 'comentar_post', 'reagir_post');

-- CreateEnum
CREATE TYPE "FeedPostStatus" AS ENUM ('pending', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "StoreItemStatus" AS ENUM ('draft', 'created', 'active', 'inactive');

-- CreateEnum
CREATE TYPE "StoreTeamScope" AS ENUM ('all', 'specific');

-- CreateEnum
CREATE TYPE "StoreManagerInventoryStatus" AS ENUM ('in_stock', 'active_for_team', 'inactive_for_team');

-- CreateEnum
CREATE TYPE "StoreRewardRequestStatus" AS ENUM ('pending', 'approved', 'rejected', 'refused', 'proceeded', 'converted');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('xp_gained', 'level_up', 'achievement', 'feedback_received', 'feedback_approved', 'survey_available', 'event_reminder', 'mission_complete', 'reward_redeemed', 'mention', 'system', 'post_pending_approval', 'post_approved', 'post_rejected', 'post_liked', 'post_commented', 'store_item_created', 'store_item_activated', 'store_item_available_to_manager', 'store_item_available_to_team', 'store_item_sent_to_manager', 'store_manager_item_activated', 'store_manager_item_deactivated', 'store_reward_requested', 'store_reward_request_reviewed', 'feedback_request_received', 'feedback_rejected');

-- CreateEnum
CREATE TYPE "NotificationStatus" AS ENUM ('unread', 'read');

-- CreateEnum
CREATE TYPE "ReactionType" AS ENUM ('like', 'love', 'celebrate', 'support', 'insightful');

-- CreateEnum
CREATE TYPE "TrainingContentOrigin" AS ENUM ('texto', 'documento', 'audio', 'video');

-- CreateEnum
CREATE TYPE "TrainingContentFormat" AS ENUM ('texto', 'audio', 'video');

-- CreateEnum
CREATE TYPE "TrainingQuestionType" AS ENUM ('multipla_escolha', 'descritiva');

-- CreateEnum
CREATE TYPE "TrainingAnswerType" AS ENUM ('multipla_escolha', 'descritiva', 'checkbox', 'audio', 'video');

-- CreateEnum
CREATE TYPE "TrainingCoverType" AS ENUM ('upload', 'url');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cargo" TEXT NOT NULL,
    "departamento" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'colaborador',
    "nivel" INTEGER NOT NULL DEFAULT 1,
    "xp" INTEGER NOT NULL DEFAULT 0,
    "xpProximo" INTEGER NOT NULL DEFAULT 500,
    "estrelas" INTEGER NOT NULL DEFAULT 0,
    "avatar" TEXT,
    "bio" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "managerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "hiredAt" TIMESTAMP(3),
    "localizacao" TEXT,
    "telefone" TEXT,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification_preferences" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "email" BOOLEAN NOT NULL DEFAULT true,
    "push" BOOLEAN NOT NULL DEFAULT true,
    "humor" BOOLEAN NOT NULL DEFAULT true,
    "pesquisas" BOOLEAN NOT NULL DEFAULT true,
    "recompensas" BOOLEAN NOT NULL DEFAULT true,
    "treinamentos" BOOLEAN NOT NULL DEFAULT false,
    "feedbacks" BOOLEAN NOT NULL DEFAULT true,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "notification_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engagement_tracking" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "dailyAccess" TEXT[],
    "consecutiveStreak" INTEGER NOT NULL DEFAULT 0,
    "lastAccessDate" TEXT,
    "completedTrainings" TEXT[],
    "feedbacksGiven" TEXT[],
    "surveysAnswered" TEXT[],
    "eventsParticipated" TEXT[],
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "engagement_tracking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engajamentos" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" "EngajamentoType" NOT NULL,
    "rewardXP" INTEGER NOT NULL DEFAULT 0,
    "rewardStars" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "publicoAlvoType" "PublicoAlvoType" NOT NULL DEFAULT 'todo_time',
    "targetIds" TEXT[],
    "completionMethod" TEXT,
    "creatorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "engajamentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engajamento_actions" (
    "id" TEXT NOT NULL,
    "engajamentoId" TEXT NOT NULL,
    "type" "ActionType" NOT NULL,
    "target" INTEGER,
    "description" TEXT,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "engajamento_actions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engajamento_participants" (
    "id" TEXT NOT NULL,
    "engajamentoId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "status" "ParticipantStatus" NOT NULL DEFAULT 'not_started',
    "progressPercentage" INTEGER NOT NULL DEFAULT 0,
    "completedActions" TEXT[],
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),
    "failReason" TEXT,

    CONSTRAINT "engajamento_participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "surveys" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" "SurveyType" NOT NULL,
    "status" "SurveyStatus" NOT NULL DEFAULT 'rascunho',
    "deadline" TIMESTAMP(3),
    "rewardXP" INTEGER NOT NULL DEFAULT 0,
    "targetAudience" "PublicoAlvoType" NOT NULL DEFAULT 'todo_time',
    "targetIds" TEXT[],
    "creatorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "surveys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "survey_questions" (
    "id" TEXT NOT NULL,
    "surveyId" TEXT NOT NULL,
    "type" "QuestionType" NOT NULL,
    "text" TEXT NOT NULL,
    "options" TEXT[],
    "required" BOOLEAN NOT NULL DEFAULT true,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "survey_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "survey_responses" (
    "id" TEXT NOT NULL,
    "surveyId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "survey_responses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "survey_question_answers" (
    "id" TEXT NOT NULL,
    "responseId" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "survey_question_answers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "courses" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "category" "CourseCategory" NOT NULL,
    "level" "CourseLevel" NOT NULL,
    "rewardXP" INTEGER NOT NULL DEFAULT 0,
    "hasCertificate" BOOLEAN NOT NULL DEFAULT false,
    "thumbnailUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "creatorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "courses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lessons" (
    "id" TEXT NOT NULL,
    "courseId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" "LessonType" NOT NULL,
    "contentUrl" TEXT,
    "duration" INTEGER,
    "order" INTEGER NOT NULL DEFAULT 0,
    "rewardXP" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "lessons_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "course_progress" (
    "id" TEXT NOT NULL,
    "courseId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "completedLessons" TEXT[],
    "progress" INTEGER NOT NULL DEFAULT 0,
    "completedAt" TIMESTAMP(3),
    "certificateUrl" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "course_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "trainings" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "coverType" "TrainingCoverType" NOT NULL DEFAULT 'url',
    "coverUrl" TEXT,
    "primaryColor" TEXT,
    "campaignId" TEXT,
    "contentOrigin" "TrainingContentOrigin",
    "contentText" TEXT,
    "contentFiles" TEXT[],
    "noAssessment" BOOLEAN NOT NULL DEFAULT false,
    "convertContent" BOOLEAN NOT NULL DEFAULT false,
    "conversionType" "TrainingContentFormat",
    "allowOriginal" BOOLEAN NOT NULL DEFAULT false,
    "summaryPercent" INTEGER NOT NULL DEFAULT 0,
    "summaryText" TEXT,
    "summaryConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "aiConfig" JSONB,
    "aiConversions" "TrainingContentFormat"[],
    "visibleFormats" "TrainingContentFormat"[],
    "questionsRequired" BOOLEAN NOT NULL DEFAULT true,
    "requireSequential" BOOLEAN NOT NULL DEFAULT false,
    "audienceType" "PublicoAlvoType" NOT NULL DEFAULT 'todo_time',
    "audienceIds" TEXT[],
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "rewardsActive" BOOLEAN NOT NULL DEFAULT true,
    "rewardXP" INTEGER NOT NULL DEFAULT 0,
    "rewardStars" INTEGER NOT NULL DEFAULT 0,
    "creatorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "summaryAudioKey" TEXT,

    CONSTRAINT "trainings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "training_progress" (
    "id" TEXT NOT NULL,
    "trainingId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "completedAt" TIMESTAMP(3),
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "score" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "training_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "training_questions" (
    "id" TEXT NOT NULL,
    "trainingId" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "type" "TrainingQuestionType" NOT NULL,
    "answerTypes" "TrainingAnswerType"[],
    "options" TEXT[],
    "correctOption" INTEGER,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "training_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "training_question_progress" (
    "id" TEXT NOT NULL,
    "trainingId" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "answer" TEXT NOT NULL,
    "answeredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "training_question_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_cache" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "requestHash" TEXT NOT NULL,
    "response" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_cache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_usage_logs" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "promptTokens" INTEGER NOT NULL DEFAULT 0,
    "completionTokens" INTEGER NOT NULL DEFAULT 0,
    "totalTokens" INTEGER NOT NULL DEFAULT 0,
    "costUsd" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cached" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_usage_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "eventos" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "date" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "location" TEXT,
    "isOnline" BOOLEAN NOT NULL DEFAULT false,
    "meetingUrl" TEXT,
    "rewardXP" INTEGER NOT NULL DEFAULT 0,
    "maxParticipants" INTEGER,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "evidenceType" "EvidenceType",
    "creatorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "eventos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "event_participations" (
    "id" TEXT NOT NULL,
    "eventoId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "registeredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "attended" BOOLEAN NOT NULL DEFAULT false,
    "evidenceUrl" TEXT,
    "evidenceType" "EvidenceType",
    "xpGranted" INTEGER NOT NULL DEFAULT 0,
    "xpGrantedAt" TIMESTAMP(3),

    CONSTRAINT "event_participations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedbacks" (
    "id" TEXT NOT NULL,
    "fromUserId" TEXT NOT NULL,
    "toUserId" TEXT NOT NULL,
    "type" "FeedbackType" NOT NULL,
    "content" TEXT NOT NULL,
    "isPublic" BOOLEAN NOT NULL DEFAULT false,
    "status" "FeedbackStatus" NOT NULL DEFAULT 'pendente',
    "sentiment" "FeedbackSentiment",
    "categories" JSONB,
    "intensity" INTEGER,
    "aiAnalysis" JSONB,
    "viewedAt" TIMESTAMP(3),
    "isShared" BOOLEAN NOT NULL DEFAULT false,
    "sharedPostId" TEXT,
    "reviewedBy" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feedbacks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback_requests" (
    "id" TEXT NOT NULL,
    "fromUserId" TEXT NOT NULL,
    "toUserId" TEXT NOT NULL,
    "topic" TEXT,
    "message" TEXT,
    "status" "FeedbackRequestStatus" NOT NULL DEFAULT 'pending',
    "expectation" TEXT,
    "feedbackId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feedback_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "gestor_feedback_configs" (
    "id" TEXT NOT NULL,
    "gestorId" TEXT NOT NULL,
    "allowAnyUser" BOOLEAN NOT NULL DEFAULT true,
    "allowPublicFeedback" BOOLEAN NOT NULL DEFAULT true,
    "requireApproval" BOOLEAN NOT NULL DEFAULT false,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "gestor_feedback_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback_settings" (
    "id" TEXT NOT NULL DEFAULT 'singleton',
    "maxFeedbacksPerDay" INTEGER NOT NULL DEFAULT 5,
    "maxFeedbacksPerWeek" INTEGER NOT NULL DEFAULT 20,
    "allowPublicFeedback" BOOLEAN NOT NULL DEFAULT true,
    "requireApproval" BOOLEAN NOT NULL DEFAULT true,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feedback_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_item_categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "store_item_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_items" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "costStars" INTEGER NOT NULL DEFAULT 0,
    "quantity" INTEGER,
    "imageUrl" TEXT,
    "internalNotes" TEXT,
    "allowMultipleRedemptions" BOOLEAN NOT NULL DEFAULT false,
    "maxRedemptionsPerUser" INTEGER,
    "status" "StoreItemStatus" NOT NULL DEFAULT 'draft',
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "store_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_item_manager_visibility" (
    "id" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "managerId" TEXT NOT NULL,

    CONSTRAINT "store_item_manager_visibility_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_item_team_visibility" (
    "id" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "managerId" TEXT NOT NULL,
    "userId" TEXT,
    "teamScope" "StoreTeamScope" NOT NULL DEFAULT 'all',

    CONSTRAINT "store_item_team_visibility_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_redemptions" (
    "id" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "redeemedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "store_redemptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_manager_inventory" (
    "id" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "managerId" TEXT NOT NULL,
    "status" "StoreManagerInventoryStatus" NOT NULL DEFAULT 'in_stock',
    "activatedAt" TIMESTAMP(3),

    CONSTRAINT "store_manager_inventory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_reward_requests" (
    "id" TEXT NOT NULL,
    "managerId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "estimatedStarCost" INTEGER NOT NULL DEFAULT 0,
    "justification" TEXT NOT NULL,
    "imageUrl" TEXT,
    "status" "StoreRewardRequestStatus" NOT NULL DEFAULT 'pending',
    "reviewNote" TEXT,
    "reviewedById" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "convertedItemId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "store_reward_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_audit_logs" (
    "id" TEXT NOT NULL,
    "itemId" TEXT,
    "action" TEXT NOT NULL,
    "performedById" TEXT NOT NULL,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "store_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mood_entries" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "date" TEXT NOT NULL,
    "mood" INTEGER NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mood_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goals" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "tipo" "TipoMeta" NOT NULL,
    "publicoAlvo" TEXT NOT NULL,
    "escopo" "EscopoMeta" NOT NULL,
    "periodo" "PeriodoMeta" NOT NULL,
    "status" "MetaStatus" NOT NULL DEFAULT 'rascunho',
    "disponivelParaGestores" BOOLEAN NOT NULL DEFAULT false,
    "creatorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "goals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goal_criterios" (
    "id" TEXT NOT NULL,
    "goalId" TEXT NOT NULL,
    "acao" "CriterioAcao" NOT NULL,
    "quantidadeMinima" INTEGER NOT NULL,
    "descricao" TEXT,

    CONSTRAINT "goal_criterios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goal_activations" (
    "id" TEXT NOT NULL,
    "goalId" TEXT NOT NULL,
    "gestorId" TEXT NOT NULL,
    "activatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "goal_activations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goal_progress" (
    "id" TEXT NOT NULL,
    "goalId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "progresso" INTEGER NOT NULL DEFAULT 0,
    "concluida" BOOLEAN NOT NULL DEFAULT false,
    "dataInicio" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataConclusao" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "goal_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goal_criterio_progress" (
    "id" TEXT NOT NULL,
    "progressId" TEXT NOT NULL,
    "criterioId" TEXT NOT NULL,
    "valorAtual" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "goal_criterio_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rewards" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "custo" INTEGER NOT NULL,
    "quantidade" INTEGER,
    "imageUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "category" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "rewards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reward_redemptions" (
    "id" TEXT NOT NULL,
    "rewardId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "starsCost" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "redeemedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reward_redemptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feed_posts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "imageUrl" TEXT,
    "videoUrl" TEXT,
    "status" "FeedPostStatus" NOT NULL DEFAULT 'pending',
    "approvedAt" TIMESTAMP(3),
    "approvedById" TEXT,
    "rejectedReason" TEXT,
    "isPinned" BOOLEAN NOT NULL DEFAULT false,
    "viewsCount" INTEGER NOT NULL DEFAULT 0,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feed_posts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feed_post_views" (
    "id" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "viewedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feed_post_views_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feed_reactions" (
    "id" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "ReactionType" NOT NULL,

    CONSTRAINT "feed_reactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feed_comments" (
    "id" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feed_comments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "daily_missions" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "actionType" "ActionType" NOT NULL,
    "target" INTEGER NOT NULL DEFAULT 1,
    "rewardXP" INTEGER NOT NULL DEFAULT 50,
    "rewardStars" INTEGER NOT NULL DEFAULT 0,
    "diasAtivos" INTEGER[],
    "publicoAlvoType" "PublicoAlvoType" NOT NULL DEFAULT 'todo_time',
    "targetIds" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "daily_missions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "daily_mission_completions" (
    "id" TEXT NOT NULL,
    "missionId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "date" TEXT NOT NULL,
    "completedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "daily_mission_completions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "data" JSONB,
    "status" "NotificationStatus" NOT NULL DEFAULT 'unread',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "readAt" TIMESTAMP(3),

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "actorId" TEXT,
    "action" TEXT NOT NULL,
    "resourceType" TEXT NOT NULL,
    "resourceId" TEXT,
    "metadata" JSONB,
    "ipAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "notification_preferences_userId_key" ON "notification_preferences"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_key" ON "refresh_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "engagement_tracking_userId_key" ON "engagement_tracking"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "engajamento_participants_engajamentoId_userId_key" ON "engajamento_participants"("engajamentoId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "survey_responses_surveyId_userId_key" ON "survey_responses"("surveyId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "course_progress_courseId_userId_key" ON "course_progress"("courseId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "training_progress_trainingId_userId_key" ON "training_progress"("trainingId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "training_question_progress_questionId_userId_key" ON "training_question_progress"("questionId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "ai_cache_userId_purpose_model_requestHash_key" ON "ai_cache"("userId", "purpose", "model", "requestHash");

-- CreateIndex
CREATE UNIQUE INDEX "event_participations_eventoId_userId_key" ON "event_participations"("eventoId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "feedback_requests_feedbackId_key" ON "feedback_requests"("feedbackId");

-- CreateIndex
CREATE UNIQUE INDEX "gestor_feedback_configs_gestorId_key" ON "gestor_feedback_configs"("gestorId");

-- CreateIndex
CREATE UNIQUE INDEX "store_item_categories_name_key" ON "store_item_categories"("name");

-- CreateIndex
CREATE UNIQUE INDEX "store_item_manager_visibility_itemId_managerId_key" ON "store_item_manager_visibility"("itemId", "managerId");

-- CreateIndex
CREATE UNIQUE INDEX "store_manager_inventory_itemId_managerId_key" ON "store_manager_inventory"("itemId", "managerId");

-- CreateIndex
CREATE UNIQUE INDEX "mood_entries_userId_date_key" ON "mood_entries"("userId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "goal_activations_goalId_gestorId_key" ON "goal_activations"("goalId", "gestorId");

-- CreateIndex
CREATE UNIQUE INDEX "goal_progress_goalId_userId_key" ON "goal_progress"("goalId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "goal_criterio_progress_progressId_criterioId_key" ON "goal_criterio_progress"("progressId", "criterioId");

-- CreateIndex
CREATE UNIQUE INDEX "feed_post_views_postId_userId_key" ON "feed_post_views"("postId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "feed_reactions_postId_userId_type_key" ON "feed_reactions"("postId", "userId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "daily_mission_completions_missionId_userId_date_key" ON "daily_mission_completions"("missionId", "userId", "date");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification_preferences" ADD CONSTRAINT "notification_preferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engagement_tracking" ADD CONSTRAINT "engagement_tracking_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engajamentos" ADD CONSTRAINT "engajamentos_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engajamento_actions" ADD CONSTRAINT "engajamento_actions_engajamentoId_fkey" FOREIGN KEY ("engajamentoId") REFERENCES "engajamentos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engajamento_participants" ADD CONSTRAINT "engajamento_participants_engajamentoId_fkey" FOREIGN KEY ("engajamentoId") REFERENCES "engajamentos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engajamento_participants" ADD CONSTRAINT "engajamento_participants_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "surveys" ADD CONSTRAINT "surveys_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "survey_questions" ADD CONSTRAINT "survey_questions_surveyId_fkey" FOREIGN KEY ("surveyId") REFERENCES "surveys"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "survey_responses" ADD CONSTRAINT "survey_responses_surveyId_fkey" FOREIGN KEY ("surveyId") REFERENCES "surveys"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "survey_responses" ADD CONSTRAINT "survey_responses_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "survey_question_answers" ADD CONSTRAINT "survey_question_answers_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "survey_questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "survey_question_answers" ADD CONSTRAINT "survey_question_answers_responseId_fkey" FOREIGN KEY ("responseId") REFERENCES "survey_responses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "courses" ADD CONSTRAINT "courses_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lessons" ADD CONSTRAINT "lessons_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES "courses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "course_progress" ADD CONSTRAINT "course_progress_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES "courses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "course_progress" ADD CONSTRAINT "course_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trainings" ADD CONSTRAINT "trainings_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_progress" ADD CONSTRAINT "training_progress_trainingId_fkey" FOREIGN KEY ("trainingId") REFERENCES "trainings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_progress" ADD CONSTRAINT "training_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_questions" ADD CONSTRAINT "training_questions_trainingId_fkey" FOREIGN KEY ("trainingId") REFERENCES "trainings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_question_progress" ADD CONSTRAINT "training_question_progress_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "training_questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_question_progress" ADD CONSTRAINT "training_question_progress_trainingId_fkey" FOREIGN KEY ("trainingId") REFERENCES "trainings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_question_progress" ADD CONSTRAINT "training_question_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_cache" ADD CONSTRAINT "ai_cache_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_usage_logs" ADD CONSTRAINT "ai_usage_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "eventos" ADD CONSTRAINT "eventos_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "event_participations" ADD CONSTRAINT "event_participations_eventoId_fkey" FOREIGN KEY ("eventoId") REFERENCES "eventos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "event_participations" ADD CONSTRAINT "event_participations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedbacks" ADD CONSTRAINT "feedbacks_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedbacks" ADD CONSTRAINT "feedbacks_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback_requests" ADD CONSTRAINT "feedback_requests_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback_requests" ADD CONSTRAINT "feedback_requests_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback_requests" ADD CONSTRAINT "feedback_requests_feedbackId_fkey" FOREIGN KEY ("feedbackId") REFERENCES "feedbacks"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "gestor_feedback_configs" ADD CONSTRAINT "gestor_feedback_configs_gestorId_fkey" FOREIGN KEY ("gestorId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_items" ADD CONSTRAINT "store_items_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "store_item_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_items" ADD CONSTRAINT "store_items_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_item_manager_visibility" ADD CONSTRAINT "store_item_manager_visibility_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "store_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_item_manager_visibility" ADD CONSTRAINT "store_item_manager_visibility_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_item_team_visibility" ADD CONSTRAINT "store_item_team_visibility_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "store_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_item_team_visibility" ADD CONSTRAINT "store_item_team_visibility_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_item_team_visibility" ADD CONSTRAINT "store_item_team_visibility_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_redemptions" ADD CONSTRAINT "store_redemptions_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "store_items"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_redemptions" ADD CONSTRAINT "store_redemptions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_manager_inventory" ADD CONSTRAINT "store_manager_inventory_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "store_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_manager_inventory" ADD CONSTRAINT "store_manager_inventory_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_reward_requests" ADD CONSTRAINT "store_reward_requests_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_reward_requests" ADD CONSTRAINT "store_reward_requests_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_audit_logs" ADD CONSTRAINT "store_audit_logs_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "store_items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_audit_logs" ADD CONSTRAINT "store_audit_logs_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mood_entries" ADD CONSTRAINT "mood_entries_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goals" ADD CONSTRAINT "goals_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_criterios" ADD CONSTRAINT "goal_criterios_goalId_fkey" FOREIGN KEY ("goalId") REFERENCES "goals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_activations" ADD CONSTRAINT "goal_activations_gestorId_fkey" FOREIGN KEY ("gestorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_activations" ADD CONSTRAINT "goal_activations_goalId_fkey" FOREIGN KEY ("goalId") REFERENCES "goals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_progress" ADD CONSTRAINT "goal_progress_goalId_fkey" FOREIGN KEY ("goalId") REFERENCES "goals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_progress" ADD CONSTRAINT "goal_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_criterio_progress" ADD CONSTRAINT "goal_criterio_progress_criterioId_fkey" FOREIGN KEY ("criterioId") REFERENCES "goal_criterios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goal_criterio_progress" ADD CONSTRAINT "goal_criterio_progress_progressId_fkey" FOREIGN KEY ("progressId") REFERENCES "goal_progress"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reward_redemptions" ADD CONSTRAINT "reward_redemptions_rewardId_fkey" FOREIGN KEY ("rewardId") REFERENCES "rewards"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reward_redemptions" ADD CONSTRAINT "reward_redemptions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_posts" ADD CONSTRAINT "feed_posts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_post_views" ADD CONSTRAINT "feed_post_views_postId_fkey" FOREIGN KEY ("postId") REFERENCES "feed_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_post_views" ADD CONSTRAINT "feed_post_views_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_reactions" ADD CONSTRAINT "feed_reactions_postId_fkey" FOREIGN KEY ("postId") REFERENCES "feed_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_reactions" ADD CONSTRAINT "feed_reactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_comments" ADD CONSTRAINT "feed_comments_postId_fkey" FOREIGN KEY ("postId") REFERENCES "feed_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feed_comments" ADD CONSTRAINT "feed_comments_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "daily_mission_completions" ADD CONSTRAINT "daily_mission_completions_missionId_fkey" FOREIGN KEY ("missionId") REFERENCES "daily_missions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "daily_mission_completions" ADD CONSTRAINT "daily_mission_completions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

